* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
   
}
.header {
    position:fixed;
    background-color: green;
    width:100%;
    top:0;
    height: 3.25rem;
}
.header ul {
    margin: 0;
}
.header li {
    display: inline;
}
form{
    position: absolute;
    top: 12rem;
    left: 40rem;
}
#name, #password, #address, #email, #phone, #type{
    display: block;
    width: 100%;
    border: 2px solid green;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 15px;
   transition: 3s;
    
}
#name:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
form{
    margin: 50px auto;
    width: 320px;
}
h1{
    text-align: center;
}
button{
   position: absolute;
   border: 1px solid green;
   background: none;
   padding: 8px 15px;
   font-size: 20px;
   cursor: pointer;
   transition: 0.8s;
}
button:hover{
    color: green;
}
#submit{
    position: relative;
    text-align: center;
    margin-top: 50%;
    bottom: 7.75rem;
    left:0.5rem;
}
#loginButton{
    position: relative;
    text-align: center;
    margin-top: 50%;
    bottom: 2rem;
    left:0rem;
}
#cancel{
    position: absolute;
    text-align: center;
    bottom: 4.75rem;
    left: 53.5rem;
}
#cancelButton{
    position: absolute;
    text-align: center;
    bottom: 13.5rem;
    left: 53rem;
}
P{
    width:0%;
    display: inline;
}
#new{
    position: absolute;
    top:6rem;
}
#om{
    position: absolute;
    font-size: x-large;
    font-weight: bold;
    top:1rem;
    left: 45%;
}
#loginMessage{
    position:absolute;
    top:10rem;
    left: 40rem;
    font-size: large;
    font-weight: bolder;
    color: red;
    width: auto;
}