<%- include('partials/header.ejs') %>
  <title>Add Product</title>
  <link rel="stylesheet" href="css/newProduct.css" />
</head>

<body>
  <header class="header">
    <ul>
      <li id="om">Online Marketplace</li>
      <li id="c0"><a class="c1" href="/adminCart">Cart</a>(</li>
      <P id=cartCounter>0</P>
      <P id="c2">)</P>
      <li><a id="c3" href="/admin">Admin Store</a></li>
    </ul>
  </header>
  <h1>New Product</h1>

  <form>
    <input id="name" type="text" placeholder="Name" />
    <input id="description" type="text" max="100" placeholder="Description" />
    <input id="url" type="url" placeholder="Photo URL" />
    <input id="quantity" type="text" placeholder="Quantity" onkeypress="allowNumbersOnly(event)"/>
    <input id="category" type="text" placeholder="Category" />
    <input id="price" type="text" placeholder="Price" onkeypress="allowNumbersOnly(event)"/>
  </form>

  <button id="submit">Submit</button>
  <button id="cancel">Cancel</button>


  <script src="js/jquery-3.5.1.min.js"></script>
  <script> 

   
    
    $('#submit').click(function(event) {
      let product = {
        name: $('#name').val(),
        description: $('#description').val(),
        url: $('#url').val(),
        quantity: $('#quantity').val(),
        category: $('#category').val(),
        price: $('#price').val(),
      };
  var descriptionMax = 800;
  var nameMax=30;
  var descriptionLength = $('#description').val().length;
  var nameLength = $('#name').val().length;
  
  if (descriptionLength >= descriptionMax) {
    alert('Description Input size exceeded preferred limit. ')
    return;
  }
  if (nameLength >=nameMax) {
    alert('Description Input size exceeded preferred limit. ')
    return;
  }
 
if(product.name&&product.description&&product.url&&product.quantity&&product.price&&product.category){
  
  $.ajax({
        type: 'POST',
        url: '/newProduct',
        data: product,
        success: response => {
          console.log(response);
          alert('Product '+product.name+' is added to the market')
        },
        error: response => {
          console.log(response);
        }

      });
     //alert('Product '+product.name+' is added to the market')
    }
    else{
      alert('Missing input data.')
    }

    });
//------------------------------------------------------------------------------------------------------------    
    $('#cancel').click(function () {
        $('#name').val("");
        $('#description').val("");
        $('#url').val(""),
        $('#quantity').val("");
        $('#category').val("");
        $('#price').val("");
    });
   
    function allowNumbersOnly(e) {
    var code = (e.which) ? e.which : e.keyCode;
    if (code > 31 && (code < 48 || code > 57)) {
        e.preventDefault();
    }
}





  </script>
  
<%- include('partials/footer.ejs') %>  
